@import url('https://rsms.me/inter/inter.css');

@tailwind base;

/* Boilerplate */

html,
body,
#root {
  @apply h-full m-0;
}

html {
  font-feature-settings: 'liga' 1;

  @apply antialiased font-inter leading-tight h-full;
}

@supports (font-variation-settings: normal) {
  html {
    @apply font-inter-var;
  }
}

@tailwind components;
@tailwind utilities;

/* Firefox */
.pretty-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Webkit */
.pretty-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}
